<h1>Enter Login and Password</h1>

<%= form_for(:user, url: sessions_path) { |f| %>
  <div class="field">
    <%= f.label :login %> <br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :password %> <br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit 'Login', {class: "button"} %>
  </div>
<% } %>
