

<%= form_for([@todo_item.todo_list, @todo_item]) do |f| %>
  <% if @todo_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_item.errors.count, "error") %> prohibited this todo_item from being saved:</h2>

      <ul>
      <% @todo_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :task_title %>
      <%= f.text_field :task_title %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= f.label :due_date %>
      <%= f.date_select :due_date %>
    </div>

    <% if (@todo_item.id != nil) %>
    <div class="field">
      <%= f.label 'Task Completed' %>
      <%= f.check_box :done %>
    </div>
    <% end %>
  <div class="actions">
    <%= f.submit 'Save', {class: "button"} %>
  </div>
<% end %>
