<h1>Todo Items</h1>
<table>
  <thead>
  <tr>
    <th>Due Date</th>
    <th>Task Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @todo_items.each do |todo_item| %>
      <tr>
        <th><%= todo_item.due_date.to_s %></th>
        <th><%= todo_item.task_title %></th>
        <th><%= todo_item.description %></th>
        <td><%= link_to 'Show', todo_item %></td>
        <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
        <td><%= link_to 'Destroy', todo_item, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>