
<%date_class = (@todo_item.done?) ? 'complete' : 'incomplete' %>

<h1>
  <span class="header-title <%=date_class%>"><%= @todo_item.task_title %></span>
  <span class="header-date <%=date_class%>"><%= @todo_item.due_date.strftime('%m/%d/%Y') %></span>
  <span class="header-back-link"><%= link_to 'Back', [@todo_item.todo_list] %></span>
  <span class="header-edit-link"><%= link_to 'Edit', [:edit, @todo_item.todo_list, @todo_item] %></span>
  <span class="header-delete-link">
    <a href="/todo_lists/<%=@todo_item.todo_list.id%>/todo_items/<%=@todo_item.id%>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a>
  </span>
</h1>


<br />
<div class="todo_item_description_label">Description | <span class="<%=date_class%>"><%= (@todo_item.done?) ? "Done" : "Not Done" %></span></div>
<p class="todo_item_description"><%= @todo_item.description %>  </p>

