<%date_class = (@todo_list.todo_items == nil ||
        @todo_list.todo_items.length == 0 ||
        @todo_list.todo_items.select {|item| item.done?}.length == @todo_list.todo_items.length) ? 'complete' : 'incomplete' %>

<h1>
  <span class="header-title <%=date_class%>"><%=@todo_list.list_name%></span>
  <span class="header-date <%=date_class%>"><%= @todo_list.list_due_date.strftime('%m/%d/%Y') %></span>
  <span class="header-back-link"><%= link_to 'Show', @todo_list %></span>
  <span class="header-edit-link"><%= link_to 'Back', todo_lists_path %></span>
</h1>

<%= render 'form' %>

