
<%
   date_class = (@todo_list.todo_items == nil ||
           @todo_list.todo_items.length == 0 ||
           @todo_list.todo_items.select {|item| item.done?}.length == @todo_list.todo_items.length) ? 'complete' : 'incomplete'
%>
<h1>
  <span class="header-title <%=date_class%>"><%= @todo_list.list_name %></span>
  <span class="header-date <%=date_class%>"><%= @todo_list.list_due_date.strftime('%m/%d/%Y') %></span>
  <span class="header-back-link"><%= link_to 'Back', todo_lists_path %></span>
  <span class="header-edit-link"><%= link_to 'Edit', edit_todo_list_path(@todo_list) %></span>
  <span class="header-delete-link"><%= link_to 'Delete', @todo_list, confirm: 'Are you sure?', method: :delete %></span>
</h1>

<ul class="todo_items">
<%= render @relevant_todo_items %>
  <li>
    <div class="todo_item_container add_todo_item">
      <%= link_to 'Add Todo Item', new_todo_list_todo_item_path(@todo_list) %>
    </div>
  </li>
</ul>

<div class="pagination_container">
<%= will_paginate @relevant_todo_items %>
</div>